<ng-container *ngIf="!!message; else tmplEmptyMessage">

  <div [ngSwitch]="message.type">

    <div *ngSwitchCase="'in'" class="messageContainer">
      <div class="ImgContainer">
        <img class="inImg" src="{{ message.mailer.picture }}">
      </div>
      <div class="TextContainer inTxt in">{{message.messageText.text}}</div>
      <div class="dateContainer in">{{message.messageText.date | date:'short'}}</div>
    </div>

    <div *ngSwitchCase="'out'" class="messageContainer">
      <div class="ImgContainer"></div>
      <div class="TextContainer outTxt out">{{message.messageText.text}}</div>
      <div class="dateContainer out">{{message.messageText.date | date:'short'}}</div>
    </div>

  </div>

</ng-container>

<ng-template #tmplEmptyMessage>
</ng-template>
